<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to "VetClinic", root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <% if current_user.admin? || current_user.vet? %>
            <li class="nav-item">
              <%= link_to "Owners", owners_path, class: "nav-link" %>
            </li>
          <% elsif current_user.owner? && current_user.owner.present? %>
            <li class="nav-item">
              <%= link_to "My account", owner_path(current_user.owner), class: "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to "Pets", pets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Vets", vets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Appointments", appointments_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>

      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <span class="navbar-text text-light">
              Hello, <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>
            </span>
          </li>

          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, 
                method: :delete, 
                class: "btn btn-outline-light btn-sm",
                data: { turbo_confirm: "Are you sure you want to sign out?" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
